$pageBgColor: rgba(245, 245, 245, 1);
$formBgColor: rgba(255, 255, 255, 1);
$borderColor: rgba(217, 217, 217, 1);
$textColor: rgba(0, 0, 0, 0.88);
$blue: #00c;
$red: #c00;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultBorderRadius: 5px;
$loginFormContentWidth: 376px;
$loginFieldHeight: 40px;