@import "./../../../styles/vars";
@import "./../../../styles/mixins";

.container {
  @include form-container;
  height: $formHeight;
  
  .title {
    @include form-title;
  }

  .form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
    justify-content: center;
  }

  .fields {
    @include form-fields;
  }

  .input {
    @include form-input;
  }

  .error {
    width: $loginFormContentWidth;
    @include error-message;
  }

  .errorMessage {
    @include field-error;
  }

  .button {
    @include form-button;
  }

  .testInfo {
    @include test-info;
  }
}